.contact {
    height: 100dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #F29602;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
}